#cards-block {
  width: 700px;
  height: 700px;
  border: 1px solid #000;
  position: absolute;
  .draggable {
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: #333;
    border: 1px solid #dfdfdf;
    color: #fff;
    padding: 3px;
    margin: 2px;
    &:hover {
      z-index: 100;
      background-color: #555;
    }
  }
}

.add-card-block {
  position: relative;
  clear: both;
}
.button {
  text-decoration: none;
  font-size: 0.8em;
  border: 1px solid #cccccc;
  background: -moz-linear-gradient(#FFFFFF, #E1E1E1);
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#E1E1E1));
  background: -ms-linear-gradient(top, #FFFFFF, #E1E1E1);
  background: -o-linear-gradient(top, #FFFFFF, #E1E1E1);
  box-shadow: 0 0.5px 2px rgba(0, 0, 0, 0.3);
  text-shadow: 1px 1px 0 #cccccc;
  font-weight: bold;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin: 3px;
  padding: 2px 4px;
  color: #333333;
}
input {
  &.button {
    font-size: 0.7em;
    padding: 2px 2px;
  }
}