#tickets-block {
  width: 700px;
  height: 700px;
  border: 1px solid #000;
  position: absolute;
  .draggable {
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: #333;
    border: 1px solid #dfdfdf;
    color: #fff;
    padding: 3px;
    margin: 2px;
    &:hover {
      z-index: 100;
      background-color: #555;
    }
  }
}

.add-ticket-block {
  position: relative;
  clear: both;
}
